<div class="language-switcher" style="background: #0fb5a9; border: 1px solid #fff; padding: 10px; display: inline-block;">
  {{ $currentLang := .Site.Language.Lang }}
  {{ range .Site.Languages }}
    {{ $langURL := .Lang | relLangURL }}
    {{ if eq $currentLang .Lang }}
      <div style="color: white; padding: 4px;">{{ .LanguageName }} –</div>
    {{ else }}
      <div style="padding: 4px;">
        <a href="{{ $langURL }}" style="color: white; text-decoration: none;">{{ .LanguageName }}</a>
      </div>
    {{ end }}
  {{ end }}
</div>
