<header>
  {{/* 현재 언어와 페이지 URL 가져오기 */}}
  {{ $lang := .Site.Language.Lang }}
  {{ $url := .Page.RelPermalink | replace "/" "-" | trim "-" }}

  {{/* 경로 기반 이미지 설정 */}}
  {{ $imagePath := printf "/images/%s%s.jpg" $lang $url }}
  {{ $defaultLangImage := printf "/images/%s-bg.jpg" $lang }}
  
  {{/* 파일 확인 없이 URL 강제 적용 */}}
  {{ $backgroundImage := $imagePath }}

  {{/* 디버깅 정보 출력 */}}
  <!-- Debug Information -->
  <!-- Lang: {{ $lang }}, URL: {{ $url }}, ImagePath: {{ $imagePath }}, DefaultLangImage: {{ $defaultLangImage }} -->

  <header class="cover bg-center" style="background-image: url('{{ $backgroundImage }}');">
    <div class="{{ .Site.Params.background_color_class | default "bg-black" }}">
      {{ partial "site-navigation.html" . }}
    </div>
  </header>
</header>
