<header>
  {{/* 언어 설정 */}}
  {{ $lang := .Site.Language.Lang }}

  {{/* URL 값 가져오기: .Page.Path를 사용해 URL 생성 */}}
  {{ $url := .Path | replace "/" "-" | trim "-" }}

  {{/* 이미지 경로 설정 */}}
  {{ $imagePath := printf "/images/%s%s.jpg" $lang $url }}
  {{ $defaultLangImage := printf "/images/%s-bg.jpg" $lang }}

  {{/* 이미지 경로 최종 설정 */}}
  {{ $backgroundImage := $imagePath }}
  {{ if not (fileExists (printf "static%s" $imagePath)) }}
    {{ $backgroundImage = $defaultLangImage }}
  {{ end }}

  {{/* 디버깅 정보 */}}
  <!-- Debug Information -->
  <!-- Lang: {{ $lang }}, URL: {{ $url }}, ImagePath: {{ $imagePath }}, DefaultLangImage: {{ $defaultLangImage }}, Final BackgroundImage: {{ $backgroundImage }} -->

  <header class="cover bg-center" style="background-image: url('{{ $backgroundImage }}');">
    <div class="{{ .Site.Params.background_color_class | default "bg-black" }}">
      {{ partial "site-navigation.html" . }}
    </div>
  </header>
</header>
