body {
    font-family: 'Spoqa Han Sans', sans-serif;
    text-align: justify;
    line-height: 1.6;
}

h1, h2, h3, p {
    font-family: 'Spoqa Han Sans', sans-serif;
}

p {
    text-align: justify;
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.6;
}
