body {
    font-family: 'Nanum Gothic', sans-serif;
    text-align: justify;
    line-height: 1.6;
}

h1, h2, h3, p {
    font-family: 'Nanum Gothic', sans-serif;
}

p {
    font-family: 'Nanum Gothic', sans-serif;
    text-align: justify;
    max-width: 1000px;
    margin: 0 auto;
    line-height: 1.6;
    white-space: pre-line; /* 줄바꿈과 여러 개의 공백을 처리 */
}
