{{ define "main" }}
  <article class="pa3 pa4-ns nested-copy-line-height">
    <section class="cf ph3 ph5-l pv3 pv4-l f4 tc-l center measure-wide lh-copy {{ $.Param "text_color" | default "mid-gray" }}">
      {{- .Content -}}
    </section>
    <section class="flex-ns flex-wrap justify-around mt5">
      {{ range .Paginator.Pages }}
        <div class="relative w-100 w-30-l mb4 bg-white" style="width: 400px; height: 400px; overflow: hidden;">
          <!-- 제목과 링크 추가 -->
          <a href="{{ .RelPermalink }}" class="link dim">
            <h2 style="font-size: 1.5rem; margin-bottom: 10px;">{{ .Title }}</h2>
          </a>
          <!-- 요약 내용 표시 -->
          {{ if .Summary }}
            <p>{{ .Summary | safeHTML }}</p>
          {{ else }}
            <p>{{ .Plain | truncate 300 }}</p>
          {{ end }}
        </div>
      {{ end }}
    </section>
    {{- template "_internal/pagination.html" . -}}
  </article>
{{ end }}
