{{ define "header" }}
   {{ partial "page-header.html" . }}
{{ end }}

{{ define "main" }}
  {{ $section := .Site.GetPage "section" .Section }}
  <article class="flex-l flex-wrap justify-between mw8 center ph3">
    <header class="mt4 w-100">
      <aside class="instapaper_ignoref b helvetica tracked ttu">
        {{ i18n "socialShareText" }}
      </aside>
      {{- partialCached "social/share.html" . . -}}
      
      <h1 class="mt3 mb1" style="font-family: 'Playfair Display', serif; font-size: 1.8rem; font-weight: 500;">
        {{- .Title -}}
      </h1>
      
      {{ with .Params.author | default .Site.Params.author }}
      <p class="tracked">
        {{ i18n "by" }} <strong>
        {{- if reflect.IsSlice . -}}
            {{ delimit . ", " | markdownify }}
        {{- else -}}
            {{ . | markdownify }}
        {{- end }}
        </strong>
      </p>
      {{ end }}
      
      {{ if not .Date.IsZero }}
      <time class="f6 mv4 dib tracked" {{ printf `datetime="%s"` (.Date.Format "2006-01-02T15:04:05Z07:00") | safeHTMLAttr }}>
        {{ .Date | time.Format (i18n "date_format") }}
      </time>
      {{ end }}

      {{ if (or (eq (.Param "show_reading_time") true) (eq $section.Params.show_reading_time true)) }}
        <span class="f6 mv4 dib tracked">
          {{ printf (i18n "readingStats") .ReadingTime .WordCount }}
        </span>
      {{ end }}
    </header>

    <div class="nested-copy-line-height lh-copy content-area"
         style="font-family: {{ .Site.Params.contentFontFamily | default "'Roboto', sans-serif" }};
                line-height: {{ .Site.Params.contentLineHeight | default "1.8" }};
                font-size: {{ .Site.Params.contentFontSize | default "1.1rem" }};
                color: {{ .Site.Params.contentColor | default "#333" }};">
      {{- .Content -}}
      {{- partial "tags.html" . -}}
      <div class="mt6 instapaper_ignoref">
        {{ if .Site.Config.Services.Disqus.Shortname }}
          {{ template "_internal/disqus.html" . }}
        {{ end }}
        {{ if .Site.Params.commentoEnable }}
          {{- partial "commento.html" . -}}
        {{ end }}
      </div>
    </div>

    <aside class="w-30-l mt6-l">
      {{- partial "menu-contextual.html" . -}}
    </aside>
  </article>
{{ end }}
